body{
    background-color: goldenrod;
}


.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#canvas1 {
    border: solid black 3px;
    background-color: white
}
#canvas2 {
    background-color: aquamarine; /* Optional for visibility */
}
