body{
    background-color: cornflowerblue;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 10px;
}

.posts{
    display: block;
    justify-content: center;
    flex-direction: column;
    gap : 5px;
    background-color: gainsboro;
    border: 3px solid black;    
    height: 50%;
}
.post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 5px;
    background-color: lightgray;
    border: 2px solid black;    
}

h1{
    display:flex;
    justify-content: center;

}