body{
    background-color: darkslateblue;
    font-size: 20pt;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

#resultado{
    width: 200px;
    font-size: 15pt;
    padding-left: 20px;
}