
#foto_eu{
    margin-left: 600pt;
}

#p1 {
    margin-left: 500pt;
}

#foto_oceano {
    margin-left: 400pt;
}

.solid{border-style: solid;}
.position{position: fixed;
top: 1px;
left: 1px;}
.display_inline{display:inline}
.width_50{width: 100px;}
.border{border-width: 3px;}
.background{background-color: rgb(89, 141, 190) ;}


#p2{
    margin-left: 450px;
}

body{
    background-color: rgb(89, 141, 190);
}

.link:hover{
    color: crimson;
}