
#foto_eu{
    margin-left: 600pt;
}

#p1 {
    margin-left: 500pt;
}

.img{
    display: flex;
    justify-content: center;
}

.all{
    border: 3px solid black;
    border-width: 3px;
    background-color: rgb(89, 141, 190);
    position: fixed;
    top: 1px;
    left: 1px;
    display:inline

}


#p2{
    margin-left: 450px;
}

body{
    background-color: rgb(89, 141, 190);
}

a:hover{
    color: crimson;
}

table, tr, th, td {
    
    border: solid black 2px;
    flex-wrap: wrap;
    
}