.display_inline{display: inline;}
.solid{border-style: solid;}

.position{position: relative;
top: 0px;
left: 100px;}
.margin{margin-left: 10px;}
.padding{padding: 130px 600px 0px 600px;}

.width{width: fit-content;}

#div_2{background-color: lightskyblue;
}

.intro{position: relative;
    left: 850px;}

.font-size{font-size: 20pt;
        color: indigo;}
