.dotted{border-style: dotted;}
.solid{border-style: solid;}
.dashed{border-style:dashed}

.radius_10{border-radius: 10px;}

.shadow{box-shadow: 5px 5px gray;}

.margin{margin: 20px;}

.width_200{ width: 200px;}

.padding{padding: 10px;}

.display_inline{display: inline;}

.display_block{display: block;}