<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blog</title>
        <link rel="stylesheet" href="/LAB/estilo_blog.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1>Criar novo Post</h1>
            <form action="/blog" method="POST">
                <label for="titulo">Título:</label>
                <input type="text" name="titulo" required><br>
        
                <label for="resumo">Resumo:</label>
                <input type="text" name="resumo" required><br>
        
                <label for="conteudo">Conteúdo:</label>
                <textarea name="conteudo" required></textarea><br>
        
                <button type="submit">Publicar</button>
            </form>
        </div>

            <h1>Posts</h1>
            
        <div class="posts">
            <% posts.forEach(post => { %>
                <div class="post">
                    <h2><%= post.db_titulo %></h2>
                    <p><%= post.db_resumo %></p>
                    <p><%= post.db_conteudo %></p>
                </div>
            <% }); %>
        </div>
            
    </body>
</html>