<!DOCTYPE html>
<html>
    <head>
        <title>Logar</title>
        <meta charset="utf-8">
        <link href="carros.css" rel="stylesheet">
    </head>
    <body>
        <h1><%= status %></h1>
    </body>
</html>