<!DOCTYPE html>
<html>
    <head>
        <title>Cadastrar</title>
        <meta charset="utf-8">
        <link href="carros.css" rel="stylesheet">
    </head>
    <body>
        <h1><%= Status %></h1>
        <p>Nome: <%= Nome %> </p>
        <p>Login: <%= Login %></p>
        <p>Senha: <%= Senha %></p>
    </body>
</html>