<!DOCTYPE html>
<html>

    <head>
        <title>Resposta</title>
        <meta charset="UTF-8">
        <link href="estilo.css" rel="stylesheet">
    </head>

    <body>
        <h1>Servidor rodando ...</h1>
        <p> Resposta </p>

        <h2>Nome: <%= nome %></h2>
        <h2>Login: <%= login %></h2>
        <h2>Senha: <%= senha %></h2>
        <h2>Data de Nascimento: <%= nasc %></h2>
    
    </body>
</html>